In [1]:
from numpy import where
from numpy import unique

import pandas as pd

from sklearn.cluster import SpectralBiclustering

from matplotlib import pyplot

In [2]:
df = pd.read_csv('../../datasets/clustering_data.csv')

In [3]:
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0.0,0,0,376,0.0,146.412162,360.0,1.0,2
1,1,1,1.0,0,0,306,1508.0,128.000000,360.0,1.0,0
2,1,1,0.0,0,1,139,0.0,66.000000,360.0,1.0,2
3,1,1,0.0,1,0,90,2358.0,120.000000,360.0,1.0,2
4,1,0,0.0,0,0,381,0.0,141.000000,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0.0,0,0,125,0.0,71.000000,360.0,1.0,0
610,1,1,3.0,0,0,275,0.0,40.000000,180.0,1.0,0
611,1,1,1.0,0,0,431,240.0,253.000000,360.0,1.0,2
612,1,1,2.0,0,0,422,0.0,187.000000,360.0,1.0,2
613,0,0,0.0,0,1,306,0.0,133.000000,360.0,0.0,1

In [4]:
x = df.values

In [5]:
x

array([[  1.,   0.,   0., ..., 360.,   1.,   2.],
       [  1.,   1.,   1., ..., 360.,   1.,   0.],
       [  1.,   1.,   0., ..., 360.,   1.,   2.],
       ...,
       [  1.,   1.,   1., ..., 360.,   1.,   2.],
       [  1.,   1.,   2., ..., 360.,   1.,   2.],
       [  0.,   0.,   0., ..., 360.,   0.,   1.]])

In [15]:
model = SpectralBiclustering(n_clusters=2)

In [17]:
model._fit(x)

In [ ]:
yhat = model.predict(x)

AttributeError: 'SpectralBiclustering' object has no attribute 'predict'